@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAeropuertosModel
@{
}
 
<h1>Listado de Aeropuertos</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Pais</th>
        <th>Coordenada X</th>
        <th>Coordenada Y</th>
        <th>Acciones</th>
    </thead>
    @foreach (var aeropuertos in Model.Aeropuertos)
    {
        <tr>
            <td>@aeropuertos.id</td>
            <td>@aeropuertos.nombre</td>
            <td>@aeropuertos.ciudad</td>
            <td>@aeropuertos.pais</td>
            <td>@aeropuertos.coord_x</td>
            <td>@aeropuertos.coord_y</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-aeropuertosId="@aeropuertos.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-busId="@aeropuertos.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>
