@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionesModel
@{
}
 
<h1>Listado de Aviones</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th scope="col">marca</th>
        <th scope="col">modelo</th>
        <th scope="col">asientos</th>
        <th scope="col">baños</th>
        <th scope="col">peso</th>
        <th>Acciones</th>
    </thead>
    @foreach (var aviones in Model.Aviones)
    {
        <tr>
            <td>@aviones.id</td>
            <td>@aviones.marca</td>
            <td>@aviones.modelo</td>
            <td>@aviones.asientos</td>
            <td>@aviones.baños</td>
            <td>@aviones.peso</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@aviones.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@aviones.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>