@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsRutasModel
@{
    var Rutas = Model.Rutas;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @Rutas.id</li>
  <li class="list-group-item"> <b>origen: </b> @Rutas.origen.nombre</li>
  <li class="list-group-item"> <b>ciudad origen: </b> @Rutas.origen.ciudad</li>
  <li class="list-group-item"> <b>destino: </b> @Rutas.destino.nombre</li>
  <li class="list-group-item"> <b>ciudad destino: </b> @Rutas.destino.ciudad</li>
  <li class="list-group-item"><b>tiempo_estimado: </b> @Rutas.tiempo_estimado</li>
</ul>	

